@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SummerPractice2021</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid" style="background-color: #C7D2D9">
        <div class="row">
            <div class="col-md-2">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.jpg" height="30" />
                </a>
            </div>
            <div class="col-md-10">
                <div class="row " style="float:right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="col" style="float:right">
                            <a class="nav-link text-dark" style="border-left: solid 1px #AABACC; float: right;" asp-area="" asp-controller="Register" asp-action="Register">Регистрация</a>
                            <a class="nav-link text-dark" style="border-left: solid 1px #AABACC; float: right;" asp-area="" asp-controller="User" asp-action="Login">Войти</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            @{
                                var userPhoto = SummerPractice2021.Helpers.ImageHelper.GetUrl(
                                    HttpContextAccessor.HttpContext.Session.GetString("Photo"));
                                var photo = userPhoto ?? "~/img/defaultIcon.jpg";
                            }
                                <img src="@Url.Content(photo)" height="50" style="border-radius: 50%" />
                                <label style="margin-right: 15px">@HttpContextAccessor.HttpContext.Session.GetString("Nickname")</label>
                                <a class="nav-link text-dark" style="border-left: solid 1px #AABACC; float:right" asp-area="" asp-controller="User" asp-action="Logout">
                                    <img src="~/img/logoLogout.png" height="30" />
                                </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
