@{
    ViewData["Title"] = "Регистрация";
}
@model UserViewModel

<form asp-controller="Register" asp-action="AddNewUser" method="post" enctype="multipart/form-data">
    <div>
        <span>Регистрация нового пользователя</span>
    </div>

    <div>
        <label asp-for="Nickname">Псевдоним</label>
        <div data-placement="bottom" data-toggle="popover" data-content="Псевдоним может содержать от 3 до 20 символов: латиница, кириллица, цифры и подчёркивания">
            <input type="text" asp-for="Nickname" autocomplete="off"/>
        </div>
        <span asp-validation-for="Nickname"></span>
    </div>

    <div>
        <label asp-for="Email">Почта</label>
        <div data-placement="bottom" data-toggle="popover" data-content="Адрес почты не может быть длиннее 31 символа">
            <input type="email" asp-for="Email" placeholder="example@ex.ru" autocomplete="off"/>
        </div>
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password">Пароль</label>
        <div data-placement="bottom" data-toggle="popover" data-content="Пароль должен содержать от 6 до 20 символов: латиница, цифры и подчёркивания">
            <input type="password" asp-for="Password" />
        </div>
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="CheckPassword">Подтвердите пароль</label>
        <div data-placement="bottom" data-toggle="popover" data-content="Пароль должен содержать от 6 до 20 символов: латиница, цифры и подчёркивания">
            <input type="password" asp-for="CheckPassword" />
        </div>
        <span asp-validation-for="CheckPassword"></span>
    </div>

    <div>
        <label asp-for="LastName">Фамилия</label>
        <input type="text" asp-for="LastName" autocomplete="off"/>
    </div>

    <div>
        <label asp-for="FirstName">Имя</label>
        <input type="text" asp-for="FirstName" autocomplete="off"/>
    </div>

    <div>
        <label asp-for="Photo">Выберите фото</label>
        <input type="file" accept=".jpg,.jpeg,.png" class="hidden" name="imageData" />
        @if (ViewBag.FileError != null && ViewBag.FileError)
        {
            <label style="color: red">Неверный формат файла с изображением</label>
        }
    </div>

    <div>
        <label asp-for="Contacts">Контактная информация</label>
        <input type="text" asp-for="Contacts" autocomplete="off"/>
    </div>

    <div>
        <label asp-for="AboutMe">О себе</label>
        <input type="text" asp-for="AboutMe" autocomplete="off"/>
    </div>

    <div>
        <label asp-for="Achievements">Достижения</label>
        <input type="text" asp-for="Achievements" autocomplete="off"/>
    </div>

    <div>
        <p>* - поля, обязательные для заполнения</p>
        <input type="submit" />
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>

</form>

<div>
    <p>Уже есть аккаунт?</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Войти</a>
</div>
